* {
    margin: 0px;
    padding: 0px;}
body {
    background-color: rgb(253, 251, 251); 
    font-family: helvetica;
    font-size: small;
    color: #0c1a1b;
    line-height: 15px;
}

.color{
    display: inline-block;
    border: 1px solid black;    
    height: 50px;
    width: 50px;
    margin-top: 10%;
    position: relative;
}